/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 3vw;
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li {
    padding: 0 10px;
}
header nav ul li.li {
    background-color:#0E8388;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.s1 {
    text-align: center;
    margin: 0vw 0 10vw 0;
}
.s1 img {
    padding: 20px;
}
.s1 h1 {
    padding: 0 0 20px;
    font-size: 2rem;
}
.s1 p {
    color: #888888;
    padding: 0 0 20px;
}
.s1 button {
    color: white;
    border: none;
    background-color: #0E8388;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}
.s2 {
    background-color:#CBE4DE;
    text-align: center;
    padding: 2vw 0 2vw 0;
}
.s2 h2 {
    font-size: 2rem;
}
.s2 p {
    color: #888888;
}
.s2 ul {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.s2 ul li {
    width: 30%;
    background-color: white;
    border-radius: 20px;
    margin: 1%;
    padding: 5px 10px 10px 10px;
}
.s2 ul li img {
    background-color: #efefef;
    border-radius: 50%;
    padding: 10px;
}
.s2 ul li p.product {
    color: black;
}
.s3 {
    margin: 3vw 0 3vw 0;
}
.s3 div {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
}
.s3 div img {
    padding: 0 2vw;
}
.s3 div p {
    padding: 0 0 0 2vw;
    text-align: center;
    margin: 6vw 0;

}
.s3 h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0 0 20px;
}
.s3 p span {
    color: black;
    font-size: 1.1rem;
}
.s3 p {
    color: #888888;
    text-align: center;
}
footer {
    background-color:#CBE4DE;
    display: flex;
    justify-content: space-between;
    color: #888888;
    padding: 10px;
}
footer p {
    padding: 10px;
}
footer ul {
    display: flex;
}
footer ul li {
    padding: 10px;
}
